
.heading {
    color: #fff;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem auto;
}

.col {
    display: flex;
    justify-content: center;
}

.card-title {
    font-family: 'Audiowide', cursive;
    font-size: 1.4rem;
    margin-top: 1.3rem;
}

.vehicleLogo {
    width: 7.5rem;
}


.vehicleButton {
    border-radius: 30px;
    background-color: #fc6A03;
    border: 1.5px solid #fff;
    font-family: 'Inknut Antiqua', serif;
    font-size: 1rem;
    color: #fff;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 5rem;
    padding: 0.5rem 0.8rem;
    display: block;
}

.footer {
    color: #fff;
    font-family: 'Inknut Antiqua', serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.5rem;
}
