body {
    background: linear-gradient(to bottom left, #7c0876 0%, #5a1c72 27.61%, #392267 60.8%, #1c2156 87.31%, #021c43 100%)repeat center center fixed;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-x: hidden;
    z-index: -1;
    cursor: url('./components/assests/rocket.svg'), auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
