
.problem-statement {
    color: #fff;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.05rem;
    font-size: 1.25rem;
    text-align: center;
    margin: 2rem;
}


.planetButton {
    border-radius: 30px;
    background-color: #fc6A03;
    border: 1.5px solid #fff;
    font-family: 'Audiowide', cursive;
    font-size: 1.1rem;
    color: #fff;
    width: auto;
    height: auto;
    margin: 4rem auto;
    padding: 0.5rem 0.8rem;
    display: block;
}

.footer {
    color: #fff;
    font-family: 'Inknut Antiqua', serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 1.5rem;
}
